/* Reset */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,strong, sub, sup, tt, var, legend, fieldset {margin: 0;padding: 0;}
img, fieldset {border: 0;}
img {max-width: 100%;height: auto;	width: auto\9;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
/* General styles */
html {min-height:100%;background-color: #fff;}
body {width: 95%; margin: 2em auto; *zoom: 1;font: .81em/150% Arial, Helvetica, sans-serif;}
body:before,body:after {content: "";display: table;}
body:after {clear: both;}
a  { color:#62C42E;text-decoration: none; }
a:hover {color: #000;}
h1 {font-size:3.5em;font-weight:700;color:#000;cursor:pointer;}
h2 { color:#000; font-size:1em; font-style:italic; font-weight:bold;}
h3 { color:#94a3b4; font-size:0.7em; }  
h4 {font-size:1.2em;font-style:italic;font-weight:bold;margin-left:30px;}
pre a {color:#58A5B4;}
pre a:hover {color:#64B9C6;}
button,input,select,textarea { font-size: 100%;  vertical-align: middle;}
button,input {  *overflow: visible;  line-height: normal;}
button::-moz-focus-inner,input::-moz-focus-inner {  padding: 0;  border: 0;}
button,input[type="button"],input[type="reset"],input[type="submit"] { cursor: pointer; -webkit-appearance: button;}
textarea, div#cleartext, .replymessage, code, input[type="text"] {
	overflow: auto;
	vertical-align: top;
	width:100%;
	padding:5px;
	white-space:pre-wrap;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
		-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
		-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
		-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		-o-box-sizing:border-box;
	box-sizing:border-box;
}
textarea {min-height: 10em; font-size: 1em;}
textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type="text"]  {width: 150px; padding: 2px 5px;}
label { display: inline-block; margin-left: 5px; }
input[type="checkbox"] { width: auto; margin: 3px 0; *margin-top: 0; line-height: normal; cursor: pointer;}
input[type="checkbox"]:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
select {width: 220px;border: 1px solid #bbb; height: 28px;*margin-top: 4px;line-height: 28px;}
select:focus {outline: thin dotted #333;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
/* Layout */
header,section,aside {margin-bottom: 1em;}
section#content {display: inline;float: left;width: 72.91666666666666%;margin-left: 1.0416666666666665%;margin-right: 1.0416666666666665%;}
section#error {width:100%; margin-top: 2em;}
aside#sidebar {display: inline;float: left;width: 22.916666666666664%;margin-left: 1.0416666666666665%;margin-right: 1.0416666666666665%;}
/* Content */
#toolbar {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	text-align: center;
}
.errorMessage, .nonworking, #ienotice {width: 70%; margin: .5em auto; background-color:#da4f49; !important; border: #bd362f  2px solid; border-radius: 10px; color:#fff; text-align: center; padding: 1em;}
#ienotice a {font-size: 1.1em; color: #fff; font-weight: 700; text-shadow : 0 1px #aaa;}
#remainingtime {width: 70%; margin: 1em auto; color: #fff; background-color: #faa732 !important; border: #f89406 2px solid; border-radius: 10px; text-align: center;  padding: 1em;}
.foryoureyesonly {color: yellow !important;font-size: 1em !important;font-weight:bold !important;}
#status { clear:both; margin-bottom:5px;padding:5px 10px;}
#pasteresult {width: 95%; margin: 1em auto; color: #fff; background-color: #5bb75b !important; border: #51a351 2px solid; border-radius: 10px; text-align: center; padding: 1em;}
#pasteresult button { margin-left:11px }
#pasteresult a { color: #ffffff;  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
#copyhint { color: #000; font-size:.8em; font-style: italic; }
#deletelink { float:right; }
#expiration {margin: 1em 0 .75em 0; text-align: left;}
#burnafterreadingoption, #opendisc, #syntaxcoloringoption { text-align: left; padding: 0 0 .5em 0;}
button {
	margin : .5em;
	width: 50%;
	display: block;
		-moz-box-shadow:inset 0 0 0 0 #bbdaf7;
		-webkit-box-shadow:inset 0 0 0 0 #bbdaf7;
	box-shadow:inset 0 0 0 0 #bbdaf7;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
		background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	border-radius:5px;
	border:2px solid #84bbf3;
	display:inline-block;
	color:#fff;
	font-size:1.5em;
	font-weight:normal;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:1px 1px 0 #528ecc;
}
button:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
		background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}
button:active {position:relative;top:1px;}
button img {margin-right:8px;position:relative;top:2px;}
/* Comments section */
#discussion { margin-top:20px;width:100%;margin-left:-30px;min-width:200px;}
.comment {
	border : #c0c0c0 1px solid;
	margin-bottom: 1em;
	margin-top: 1em;
	border-radius: 10px;
	white-space:pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	padding:.5em;
	margin-left:30px;
	min-width:200px;
	overflow:auto;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.comment:last-child {border: none; box-shadow: none;}
.comment button {width: 160px; }
/*.comment input  {padding:3px;}*/
.commentmeta {margin-bottom:3px;padding:0 0 0 3px;}
.nickname {font-size: 1.3em; font-weight: 700; padding-left: .5em;}
.vizhash{position: relative; margin-bottom: -8px; padding:2px;border:1px solid #ccc;width:25px !important;height: 25px !important;max-width:25px !important;max-height:25px !important}
#comments blockquote {margin-top: 10px;}
.commentdate { font-size: .8em; font-style: italic;}
.commentdata {padding: .5em .5em .5em 3.5em;}
button.reply {width: auto;margin: 5px 0 0 30px; font-size: .9em; padding: 3px 6px;}
#replystatus { display:inline;padding:1px 7px; font-family: Arial, Helvetica, sans-serif;}
/* Footer */
footer { clear: both; padding: 1em 0; }
footer p { color:#888; line-height: 1.5em;font-size: .9em; text-align:center;}

#oldienotice {display:none !important;}
/* clear fix */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }
/* Media queries */
@media only screen and (max-width: 1023px) {
	section#content,aside#sidebar {display: inline;float: left;width: 47.91666666666667%;margin-left: 1.0416666666666665%;margin-right: 1.0416666666666665%;}
}
@media only screen and (max-width: 767px) {
	section#content,aside#sidebar {display: inline;float: left;width: 97.91666666666666%;margin-left: 1.0416666666666665%;margin-right: 1.0416666666666665%;}
	footer {font-size: .8em;}
}